<!DOCTYPE html>
<!--
QUICK CUSTOMIZATION:

		TO ONLY PRINT SPECIFIC PEOPLE CATEGORIES SET THIS TO false
		{% assign all_categories = true %}

		SET INDIVIDUAL CATEGORY NAMES OF PEOPLE TO PRINT (and set above to false)
		{% array my_categories = "Vocals", "Band", %}
		
		OTHER OPTIONS (set these to turn columns on and off and make sure to set the number of columns)
		{% assign print_position = true %}
		{% assign print_name = true %}
		{% assign print_email = true %}
		{% assign print_phone = true %}
		{% assign number_of_columns = 5 %}

{% if all_categories == true %}{% array my_categories = "all" %}{% endif %}
-->

<html>
    <head>
        <title>{{ plan.ministry.name }}:: {{ plan.dates }}</title>
        <style>
			* { font-family: Verdana, Arial; font-size: 8pt; }
			body { padding:0; margin:0; }

			.header { width: 99%; border-collapse: collapse; margin: .8rem auto; padding: .8rem; }			
			.ministry_title { font-size: 2.441rem; font-weight: bold; text-align: center; border-bottom: dashed 1px black; }
			.plan_title { text-align: left; }
			.plan_dates { text-align: center; font-weight: bold; font-size: 1.563rem; }
			.series_title { text-align: right; }

			.people_section { display: block; text-align: left; page-break-inside: avoid; }
			.category { display: block; text-align: left; font-weight:bold; font-size: 1.563rem; margin-top: 1rem; border-bottom: solid 2px grey; page-break-inside: avoid; }
			.category_times { display: inline-block; font-weight: bold; font-size: 1.25rem; float: right; }
			.plan_person { 
				display: inline-block; 
				page-break-inside: avoid; 
				text-align: left; 
				min-width: 134px; 
				max-width: 670px; 
				margin: 4px; 
				padding: 4px; 
				border-left: solid 2px #dcdcdc; 
				vertical-align: top; 
			}
			.position{ display: block; font-weight: bold; font-size: 1.25rem; margin-top: .8rem; }
			.person { display: inline-block; vertical-align: text-top; padding: .21rem .8rem .21rem .21rem; width: 134px; }
			.phone { 
				display: inline-block; 
				font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; 
				font-size: 1rem; 
				padding: 0 0 0 .8rem; }

			.icon-question { font-weight: bold; color: #901a1c; }

        </style>
    </head>
    <body>
		<table class="header">
			<tr>
				<td colspan="3" class="ministry_title">{{ plan.ministry.name }}</td>
			</tr>
			<tr>
				<td class="plan_title" width="25%">{{ plan.plan_title }}</td>
				<td class="plan_dates" width="50%">{{ plan.dates }}</td>
				<td class="series_title" width="25%">{{ plan.series_title }}</td>
			</tr>
		</table>

		<br/>

		<table class="people_section">
			{% for plan_person in plan.plan_people_not_declined %}

				{% if last_category != plan_person.category.id%}
					{% if current_position != '' %}</div>{% endif %}
					<div class="category">{{ plan_person.category.name }}</div>
					<div class="category_times">{% for time in plan_person.other_times %}{% if forloop.first == true %}{{ time.starts_at | date: "%I:%M%P" }}{% endif %}{% endfor %} - {% for time in plan_person.other_times reversed %}{% if forloop.first == true %}{{ time.ends_at | date: "%I:%M%P" }}{% endif %}{% endfor %}</div>
					{% assign current_position = '' %}
				{% endif %}

				{% assign last_category = plan_person.category.id %}

				{% if current_position != plan_person.position %}
					{% if current_position != '' %}</div>{% endif %}
					<div class="plan_person">
						<div class="position">{{ plan_person.position }}</div>
				{% endif %}

						<div class="person">{{ plan_person.person.first_name }} {{ plan_person.person.last_name }}{% if plan_person.status == 'U' %}&nbsp;<span class="icon-question">?</span>{% endif %}{% if print_phone == true %}{% for phone_number in plan_person.person.phone_numbers %}<br/><div class="phone">{{ phone_number.type_name }}: {{ phone_number.number }} {{ phone_number.extension }}</div>{% endfor %}{% endif %}</div>

				{% assign current_position = plan_person.position %}

			{% endfor %}
					</div>
		</table>

    </body>
</html>